*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.logo-show{
    display: flex;
    justify-content: center;
}

.home-geral{
    color: white;
    font-size: 22px;
    margin: 10px 0 0 60px;
}

.entre-contato-geral{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 0 0 20px;
}

.texto-principal{
    color: white;
    font-family: 'Ceviche One', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.texto-secundário{
    color: white;
    font-family: 'Ceviche One', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.responsa{
    color: white;
    font-family: 'Ceviche One', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

footer{
    background-color: white;
    font-family: 'Ceviche One', cursive;
    margin-top: 88px;
}

.flex-dad{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ajuda{
    font-size: 19px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.localiza{
    display: flex;
    justify-content: center;
    margin-left: 550px;
    font-size: 18px;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#locatxt{
    margin-left: 550px;
}

.mapa{
    display: flex;
    justify-content: center;
}

.redes-sociais{
    font-size: 20px;
}

.insta{
    width: 50px;
    margin: 10px;
}

.insta:hover{
    background: rgb(245,133,41);
    background: linear-gradient(0deg, rgba(245,133,41,1) 5%, rgba(254,218,119,1) 31%, rgba(221,42,123,1) 52%, rgba(129,52,175,1) 71%, rgba(81,91,212,1) 91%);
    border-radius: 15px;
}

.twitter{
    width: 50px;
    margin: 10px;
}

.twitter:hover{
    background-color: #1DA1F2;
    border-radius: 5px;
    
}