

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.logo-show{
    display: flex;
    justify-content: center;
}

.sobre-geral{
    color: white;
    font-size: 22px;
    margin: 10px 0 0 60px;
}

.entre-contato-geral{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 0 0 20px;
}

.preco-ingresso{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 10px 0 35px 0;
    font-family: 'Ceviche One', cursive;
}

.background{
    background: rgb(34,164,195);
    background: linear-gradient(0deg, rgba(34,164,195,1) 0%, rgba(50,100,240,1) 49%, rgba(45,60,253,1) 100%);
    padding: 0 180px 40px ;
    width: 50%;
    margin-left: 170px;
}

.shows-geral{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Ceviche One', cursive;
}

.dia{
    color: #000000;
    font-size: 20px;
    font-weight: 800px;
    margin-left: -70px;
    font-family: 'Ceviche One', cursive;
}

.show-principal1{
    margin: 0 0 0 180px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Ceviche One', cursive;
}

.show-principal2{
    margin: 0 0 0 295px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Ceviche One', cursive;
}

.show-principal{
    margin: 0 0 0 260px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Ceviche One', cursive;
}

.shows-menores{
    font-family: 'Ceviche One', cursive;
    font-size: 22px;
    margin: 10px 0 0 30px;
}

.shows-menores2{
    font-family: 'Ceviche One', cursive;
    font-size: 22px;
    margin: 10px 0 0 140px;
}

.separa-show{
    margin-top: 30px;
}

.separa-show2{
    margin-top: 40px;
}

.botao-comprar{
    display: flex;
    justify-content: center;
}

.botao-compra{
    background-color: #a3a3a3;
    width: 100px;
    font-size: 20px;
    font-family: 'Ceviche One', cursive;
    margin: 10px;
    border: none;
    border-radius: 7px;
}

.botao-compra:hover{
    cursor: pointer;
    background-color: #ebe6e6;
    transition: 0.8s;
}

footer{
    background-color: white;
    font-family: 'Ceviche One', cursive;
    margin-top:10px;
}

.flex-dad{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ajuda{
    font-size: 19px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.localiza{
    display: flex;
    justify-content: center;
    margin-left: 550px;
    font-size: 18px;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#locatxt{
    margin-left: 550px;
}

.mapa{
    display: flex;
    justify-content: center;
}

.redes-sociais{
    font-size: 20px;
}

.insta{
    width: 50px;
    margin: 10px;
}

.insta:hover{
    background: rgb(245,133,41);
    background: linear-gradient(0deg, rgba(245,133,41,1) 5%, rgba(254,218,119,1) 31%, rgba(221,42,123,1) 52%, rgba(129,52,175,1) 71%, rgba(81,91,212,1) 91%);
    border-radius: 15px;
}

.twitter{
    width: 50px;
    margin: 10px;
}

.twitter:hover{
    background-color: #1DA1F2;
    border-radius: 5px;
    
}